h1{
    font-size: 50px;
}

#conteiner{

}

#titulo{
    font-size: 50px;
    text-align: center;
}
#start{
    margin-top:100px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#titulo{
    margin-top:100px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body{
    background-color: rgb(253,243,189);
}
#canvas{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}

span{
    font-size: 20px;
}
#aviao1{
    padding-right: 50px;

}
#info{
    background-color: darkgray;
    margin-top: 10%;
    padding-bottom: 10%;
    font-size: 25px;
    font-family:OCR A Std, monospace ;
}

#stop {
    display: inline-block;
    margin-left: 100px;

    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: red;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

#stop:hover {background-color: darkred}

#stop:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#Progress_Status {
    padding: 2px;
    width: 20%;
    background-color: #ddd;
}

#myprogressBar {
    width: 2%;
    height: 20px;
    background-color: #4CAF50;
}

#Progress_Status1 {
    float: right;
    width: 20%;
    background-color: #ddd;
}

#myprogressBar1 {
    width: 2%;
    height: 20px;
    background-color: #4CAF50;
}